<!-- Tabs -->
<div class="tabs">
    <div class="tabs__header">
        <div class="tabs__header-item active">Египет</div>
        <div class="tabs__header-item">Турция</div>
        <div class="tabs__header-item">ОАЭ</div>
        <div class="tabs__header-item">Мальдивы</div>
        <div class="tabs__header-item">Италия</div>
        <div class="tabs__header-item">Испания</div>
        <div class="tabs__header-item">Сейшелы</div>
        <div class="tabs__header-item">Мексика</div>
        <div class="tabs__header-item">Танзания</div>
    </div>
    <div class="tabs__content">
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
        <div class="tabs__content-item">
            <div class="hotel__card">
                <div class="hotel__card-image">
                    <img src="img/hotelcard-image.png" alt="">
                </div>
                <div class="hotel__card-title">
                    The St. Regis Maldives Vommuli Resort , Мальдивы
                </div>
                <div class="hotel__card-stars">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                    <img src="img/Star.svg" alt="">
                </div>
                <div class="hotel__card-btn">Подробнее</div>
            </div>
        </div>
    </div>
</div>