.blogpage {
    background-color: #F2F2EA;
    .blogpage__intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .blogpage__intro-text {
        width: clamp(22.375rem, 17.5rem + 20vw, 32.5rem);
        .tour__text:nth-child(2){
            padding-top: 0;
        }
    }
    .blogpage__intro-image {
        width: clamp(22.375rem, 22.315rem + 0.25vw, 22.5rem);
        img {
            width: clamp(22.375rem, 22.315rem + 0.25vw, 22.5rem);
        }
    }
    .pt {
        padding-top: 10px;
    }
    .country__subtitle {
        li {
            list-style-type: disc;
            padding-bottom: 0;
        }
    }
    .tour__cards-title {
        padding-bottom: clamp(1.25rem, 0.046rem + 4.94vw, 3.75rem);
    }
    .blogpage__image {
        width: clamp(24.375rem, 2.292rem + 73.61vw, 57.5rem);
        height: clamp(12.188rem, 10.231rem + 8.02vw, 16.25rem);
        img {
            width: clamp(24.375rem, 2.292rem + 73.61vw, 57.5rem);
            height: clamp(12.188rem, 9.479rem + 9.03vw, 16.25rem);
        }
    }
}