.booking__title {
    margin-top: clamp(3.75rem, 2.546rem + 4.94vw, 6.25rem);
    margin-bottom: clamp(2.5rem, 1.898rem + 2.47vw, 3.75rem);
    color: #3D6B8C;
    text-align: center;
    font-family: Palace_of_Sports;
    font-size: clamp(1.5rem, 1.019rem + 1.98vw, 2.5rem);
    font-weight: 400;
    line-height: clamp(1.875rem, 1.574rem + 1.23vw, 2.5rem);
}
.booking__blocks {
    display: grid;
    grid-template: repeat(2, clamp(9.375rem, 8.773rem + 2.47vw, 10.625rem))/repeat(2, clamp(22.375rem, 19.907rem + 10.12vw, 27.5rem));
    grid-gap: clamp(1.5rem, 1.019rem + 1.98vw, 2.5rem);
}
.booking__info-title {
    color: #3D6B8C;
    font-family: Montserrat;
    padding-bottom: clamp(0.75rem, 0.509rem + 0.99vw, 1.25rem);
    font-size: clamp(1.125rem, 0.944rem + 0.74vw, 1.5rem);
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -1.2px;
}
.booking__info-text {
    position: relative;
    color: #37393A;
    font-family: Montserrat;
    font-size: clamp(0.875rem, 0.815rem + 0.25vw, 1rem);
    font-weight: 400;
    line-height: clamp(1rem, 0.88rem + 0.49vw, 1.25rem);
}
.booking__image {
    img {
        width: clamp(22.375rem, 19.907rem + 10.12vw, 27.5rem);
        height: clamp(9.375rem, 8.472rem + 3.7vw, 11.25rem);
    }
}
.booking__wrapper__link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.booking__link {
    display: inline-flex;
    padding: 10px 20px;
    align-items: center;
    gap: 6px;
    border-radius: 30px;
    background: #3D6B8C;
    color: #F2F2EA;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 90px;
}
@media screen and (max-width: 768px){
    .booking__blocks {
        grid-template: 1fr / clamp(21.875rem, 19.167rem + 11.11vw, 27.5rem);
        text-align: center;
    }
    .booking__image:nth-child(2) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .booking__info:nth-child(2) {
        grid-row-start: 3;
        grid-row-end: 4 ;
    }
    .booking__image:nth-child(3) {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .booking__info:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}