.country__subtitle {
    color: #3D6B8C;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    // padding-top: 10px;
    padding-bottom: 20px;
    li {
        color: #37393A;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        list-style-type: decimal;
        margin-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}