.delivery {
    background-color: #F2F2EA;
    .tour__text {
        padding: 20px 0 20px 0;
    }
    .delivery__numbers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .delivery__number {
        display: inline-flex;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 2px solid #3D6B8C;
        color: #3D6B8C;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .delivery__banner {
        background: url(../img/delivery-banner.png) center (center/cover) no-repeat;
        height: clamp(9.75rem, -3.75rem + 45vw, 30rem);
    }
}
@media screen and (max-width: 560px) {
    .delivery {
        .delivery__numbers {
            justify-content:center;
            gap: 10px;
        }
    }
    
}