.newspage {
    background-color: #F2F2EA;
}
.newspage__image {
    width: clamp(22.375rem, -1.042rem + 78.06vw, 57.5rem);
    height: clamp(8.438rem, 1.968rem + 26.54vw, 21.875rem);
    img {
        width: clamp(22.375rem, -1.042rem + 78.06vw, 57.5rem);
        height: clamp(8.438rem, 1.968rem + 26.54vw, 21.875rem);
    }
}
.newspage__info {
    color: #37393A;
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Montserrat;
    font-size: clamp(0.875rem, 0.755rem + 0.49vw, 1.125rem);
    font-style: normal;
    font-weight: 600;
    line-height: clamp(1rem, 0.88rem + 0.49vw, 1.25rem);
}
.newspage {
    .tour__text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
