.tourists {
    .tour__subtitle {
        padding-bottom: clamp(1.5rem, 1.229rem + 1.11vw, 2.063rem);
    }
    .country__cards {
        margin-bottom: 40px;
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: clamp(1.5rem, 1.019rem + 1.98vw, 2.5rem);
    }
    .tourists__image {
        width: clamp(22.375rem, 19.907rem + 10.12vw, 27.5rem);
        img {
            width: clamp(22.375rem, 19.907rem + 10.12vw, 27.5rem);
        }
    }
    .country__subtitle {
        li {
            list-style-type: disc;
            padding: 0;
            font-size: 16px;
            line-height: 26px;
        }
        li:first-child {
            padding-top: 18px;
        }
    }
    .deal-visa__link-btn {
        margin: 0 auto;
    }
    .mb {
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .tourists {
        .tourists__blocks {
            flex-direction: column;
            justify-content: center;
        }
        .country__card:last-child {
            margin: 0;
        }
    }
}