.visa {
    background-image: linear-gradient(242deg, #C39D8A -6.16%, #E3CBC7 23.03%, #AFC2C8 60.3%, #AFC2C8 85.77%, #5DB6B9 113.09%);
}
.visa__title {
    padding-top: clamp(3.75rem, 2.546rem + 4.94vw, 6.25rem);
    margin-bottom: 40px;
    color: var(--3, #3D6B8C);
    text-align: center;
    font-family: Palace_of_Sports;
    font-size: clamp(1.5rem, 1.019rem + 1.98vw, 2.5rem);
    font-weight: 400;
    line-height: clamp(1.875rem, 1.574rem + 1.23vw, 2.5rem);
}
.visa__cards {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: clamp(0.625rem, -0.278rem + 3.7vw, 2.5rem);
}
.visa__card {
    border-radius: 30px;
    background: #3D6B8C;
    width: clamp(10.875rem, 7.685rem + 13.09vw, 17.5rem);
    height: clamp(11.313rem, 8.634rem + 10.99vw, 16.875rem);
}
.visa__card-image {
    img {
        border-radius: 30px 30px 0 0;
        width: clamp(10.875rem, 7.685rem + 13.09vw, 17.5rem);
        height: clamp(8.188rem, 5.81rem + 9.75vw, 13.125rem);
    }
}
.visa__card-title a {
    color: #F2F2EA;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: clamp(0.875rem, 0.574rem + 1.23vw, 1.5rem);
    font-weight: 300;
    line-height: clamp(1.125rem, 1.065rem + 0.25vw, 1.25rem);
    letter-spacing: -1.2px;
}
.visa__link {
    padding-bottom: 100px;
}
.visa__page {
    .visa__cards {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .visa__cards {
        grid-template: repeat(2,clamp(10.875rem, 7.685rem + 13.09vw, 17.5rem)) / repeat(2, clamp(10.875rem, 7.685rem + 13.09vw, 17.5rem));
        justify-content: center;
    }
}