// Global SCSS imports
@import './vars';
@import './fonts';
@import './reset';
@import './global';


// Sections SCSS files imports
@import './header';
@import './hero';
@import './hottours';
@import './company';
@import './rest';
@import './visa';
@import './booking';
@import './form';
@import './poland-visa';
@import './deal-visa-poland';
@import './country-visa';
@import './tours';
@import './hotavia';
@import './tourists';
@import './news';
@import './news-page';
@import './blog';
@import './blog-page';
@import './payment';
@import './sertificate';
@import './questions';
@import './delivery';
@import './discount';
// @import '../components/select/select';
@import './footer';


// Libs 
// @import './libs/swiper';
